ul {
  list-style-type: none;
  margin-bottom: 15%;
  padding: 0;
  width: 14%;
  background-color: #424242;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  color: white;
  padding-top: 15%;
  text-decoration: none;
  font-family: "Amiko", sans-serif;
  height: 100%;
  font-size: 180%;
  padding-bottom: 15%;
}
li a:hover {
  background-color: #d9d9d9;
  color: #607d8b;
  font: "Amiko", sans-serif;
}
body {
  background-color: #78909c;
  color: #4f3928;
}
ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}
h1 {
  text-align: center;
  font-family: "Amiko", sans-serif;
  color: #263238;
  font-size: 400%;
  padding: 0px;
}
.lukesmission {
  text-align: center;
  font-family: "Amiko", sans-serif;
  font-size: 380%;
  padding: none;
  margin-bottom: 0px;
}
h4 {
  text-align: center;
  font-family: "Amiko", sans-serif;
  font-size: 150%;
  color: #263238;
}
h5 {
  text-align: center;
  font-family: "Amiko", sans-serif;
  font-size: 100%;
  color: #263238;
}
img {
  border: 3px solid #424242;
}
h2 {
  text-align: center;
  font-family: "Amiko", sans-serif;
  color: #263238;
}
.hhinsta {
  width: 5%;
  height: 5%;
  border: none;
}
.hhtwitter {
  width: 7%;
  height: 7%;
  border: none;
}
.stud {
  width: 40%;
  height: 40%;
  border-radius: 500%;
}
.topofcarton {
  transform: rotate(270deg);
  width: 20%;
  height: 20%;
  border: 5px solid #424242;
}
.insidecarton {
  width: 30%;
  height: 30%;
  border-radius: 500%;
  border: 5px solid #424242;
}
.signature {
  text-align: center;
}
.collage {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #424242;
  width: 35%;
  height: 40%;
}
.review {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.chickenscratch {
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 40%;
}
.input {
  border: 5px solid #424242;
  font-family: "Amiko", sans-serif;
  color: #4f3928;
}
.pancake {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lavender {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bigmomma {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.brownie {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.trailmix {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cottoncandy {
  width: 10%;
  height: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.submitbutton {
  background-color: #263238;
  color: white;
  width: 10%;
  height: 40px;
  text-shadow: none;
  border-style: round;
  font-size: 75%;
  font-family: "Amiko", sans-serif;
}
.order {
  width: 20%;
  height: 30px;
  font-size: 20px;
  font-family: "Amiko", sans-serif;
}
.email {
  width: 20%;
  height: 30px;
  font-size: 20px;
  font-family: "Amiko", sans-serif;
}
h3 {
  text-align: center;
  font-family: "Amiko", sans-serif;
  color: #263238;
}
.pleasework {
  width: 60%;
  height: 30%;
  border: none;
}
.historyyy {
  font-size: 150%;
}
.FFE {
  font-size: 200%;
  padding: 0;
}
.DPIO {
  font-size: 125%;
  padding: 0;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid #424242;
}
.mskimfood {
  width: 35%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}
.title {
 margin-bottom: 1%;
}
.line {
  color: #161d21;
}
